<div class="p-fluid p-formgrid grid">
    <div class="field col-4">
        <p-dropdown appendTo="body" [options]="servicio" optionLabel="folio" optionValue="idServicio" [(ngModel)]="servicioSeleccionado"></p-dropdown>
    </div>
    <div class="field col-4">
        <p-dropdown [options]="estatus" optionValue="nombre" optionLabel="nombre" [(ngModel)]="estatusSeleccionado"></p-dropdown>
    </div>
    <div class="field col-4">
        <p-button icon="pi pi-save" label="Guardar" (onClick)="GuardarEstatus()"
        styleClass="p-button-rounded p-button-secondary"></p-button>
    </div>
</div>